DB_USERNAME=mongo_db_username
DB_PASSWORD=mongo_db_password
DB_HOST=mongo_db_host
DB_NAME=db_name

CLIENT_URL=http://localhost:5173
PORT=3000

JWT_SECRET=generated_jwt_secret

RESEND_API_KEY=resend_api_key
RESEND_SENDER=resend_sender_email

SALT_HMAC_SECRET=generated_HMAC_server_secret

NODE_ENV=development
EMAIL_PROVIDER=maildev